test/Release/
test/Debug
*.swp
connector/Release
*.vcxproj.user
connector/test
*.suo
*.iml
*.ipr
*.iws
.idea
.gradle
.ropeproject
Release
user.vcxproj.filters
gateway/build
validator/build
validator/gradle
common/build
common/gradle
monoapp/build
.DS_Store
persistor/build
player/build
